﻿* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12pt;
}

.clearfix {
	clear: both;
}

#footer {
	padding: 20px 0 20px 0;
	bottom: 0;
	text-align: center;
	color: dodgerblue;
	width: 100%;
}

#header {
	text-align: center;
}

#menu a {
	text-decoration: none;
	color: black;
	font-size: 16pt;
}

#menu ul {
	padding: 0 20px 0 20px;
	list-style: none;
}

#menu ul li {
	display: inline;
	padding: 10px 10px 10px 10px;
	margin: 0 8px 0 8px;
}

#page {
	margin: 0;
	position: relative;
	padding: 20px 40px 0 40px;
}

#page .section-list {
	padding-left: 0;
	list-style: none;
}

#page .section-list li {
	padding: 25px 0 25px 0;
	clear: both;
}

#page-bottom {
	padding: 40px 40px 0 40px;
	color: #353535;
	background: #f3f3f3;
	position: relative;
	width: 898px;
	border-top: solid 1px #e3e3e3;
	box-shadow: inset 0px 0px 0px 1px #fff;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
}


#page-bottom ul {
	list-style: none;
}

#page-bottom ul li {
	border-top: solid 1px #e3e3e3;
	padding: 10px 0 10px 0;
}

#page-bottom ul li.first {
	border-top: 0;
	padding-top: 0;
}

#wrapper {
	width: 978px;
	position: relative;
	margin: 0 auto 0 auto;
	min-height: 100%;
}

.box h1{
	text-align: center;
	text-align: -webkit-center;
}

.box img {
	margin: 0px 20px 0px 0px;
	border: solid 1px #e3e3e3;
}

.box p {
	margin-bottom: 0em;
}

.upload{
	border: 2px solid blueviolet;
	border-radius: 5%;
	margin: 11px;
	background: -webkit-linear-gradient(red, yellow);
	background: -o-linear-gradient(red, yellow);
	background: -moz-linear-gradient(red, yellow);
	background: linear-gradient(red, yellow);
}
.upload label{
	font-size: 10pt;
}
.upload h4{
	text-align: center;
	text-align: -webkit-center;
}